---
Language: Cpp
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
DerivePointerAlignment: false
IncludeBlocks: Regroup
IndentWidth: 4
PointerAlignment: Left
SortIncludes: true
TabWidth: 4
UseTab: ForIndentation
